<log4net>
  <appender name="RollingFileAppender" type="DC.Log4NetConfigurationHelper.DcFileAppender, DC.Log4NetConfigurationHelper">
    <application>AuditHub</application>
    <component>%entryAssemblyName</component>
  </appender>
  <appender name="ColoredConsoleAppender" type="DC.Log4NetConfigurationHelper.DcConsoleAppender, DC.Log4NetConfigurationHelper"/>
  <appender name="SmtpAppender" type="DC.Log4NetConfigurationHelper.DcSmtpAppender, DC.Log4NetConfigurationHelper">
    <application>AuditHub</application>
    <component>%entryAssemblyName</component>
    <smtpHost value="mail.dac.local" />
  </appender>
  <appender name="EventLogAppender" type="DC.Log4NetConfigurationHelper.DcEventLogAppender, DC.Log4NetConfigurationHelper">
    <application>AuditHub</application>
    <component>%entryAssemblyName</component>
  </appender>
  <root>
    <priority value="INFO" />
    <appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="EventLogAppender" />
  </root>
</log4net>
