<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net45" />
  <package id="DC.Log4NetConfigurationHelper" version="0.262" targetFramework="net45" />
  <package id="DC.WindowsService" version="0.245" targetFramework="net45" />
  <package id="DC.WindsorExtensions" version="0.234" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="Rebus" version="0.72.0" targetFramework="net45" />
  <package id="Rebus.Castle.Windsor" version="0.71.4" targetFramework="net45" />
  <package id="Rebus.Log4Net" version="0.71.4" targetFramework="net45" />
  <package id="Rebus.MongoDb" version="0.71.4" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.10.3" targetFramework="net45" />
  <package id="Topshelf" version="3.1.2" targetFramework="net45" />
  <package id="Topshelf.Log4Net" version="3.1.2" targetFramework="net45" />
</packages>